<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Summarizer</title>
    <meta name="description" content="Summarizes text, a url or a file with Natural Language Processing">
    <meta name="author" content="Liam McIntosh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <header>
      <h1>Summarizer</h1>
      <!-- <div class="sub-heading">Submit a piece of <a id="text" class="type-selector">text</a>, <a id="url" class="type-selector">url</a> or a <a id="file" class="type-selector">file</a> and receive a summary</div> -->
      <div class="sub-heading">Submit a piece of <a id="text" class="type-selector">text</a> or a <a id="url" class="type-selector">url</a>  and receive a summary</div>
    </header>
    <main>
      <div class="summarizer">
        <form>

          <div id="text" class="type-input-container">
            <label for="text-input">Text Input</label>
            <textarea type="text" id="text-input" rows="20"></textarea>
          </div>

          <div id="url" class="type-input-container">
            <label for="url-input">URL Input</label>
            <input type="url" id="url-input">
          </div>

          <div id="file" class="type-input-container">
            <label for="file-input">File Input</label>
            <input type="file" id="file-input">
          </div>

          <div class="form-footer">

            <div class="dropdown">
              <div class ="selection-container">
                <button type="button">Sentence Length</button>
                <div class="selection">5</div>
              </div>

              <div class="content">
                <div class="option">5</div>
                <div class="option">10</div>
                <div class="option">15</div>
                <div class="option">20</div>
              </div>
            </div>

            <button type="button" id="submit-button">Submit</button>
          </div>
      </form>

      <div class="summary-container">
        <h2>Summary</h2>
        <div class="summary"></div>
      </div>
      </div>
    </main>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
              // Registration was successful
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            },function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
            });
        });
      }
     </script>
  </body>
</html>