form{
  display: flex;
  flex-direction: column;

  div{
    display: flex;
    flex-direction: column;

    input{
      margin: 0.1em 0 0.4em 0;
    }

    textarea {
      margin: 0.1em 0 0.4em 0;
      resize: none;
    }
  }

  #url.type-input-container,#file.type-input-container{
    display: none;
  }

  .form-footer{
    display: flex;
    flex-direction: row;
    height: 50px;

    #submit-button{
      height: 50px;
      flex-grow: 1;
    }
  }
}

