<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.app.hjcopdjohhhhdgpilofncdjeoidkhefm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Project 5</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4389.114</string>
	<key>CrAppModeShortcutID</key>
	<string>hjcopdjohhhhdgpilofncdjeoidkhefm</string>
	<key>CrAppModeShortcutName</key>
	<string>Project 5</string>
	<key>CrAppModeShortcutURL</key>
	<string>https://classroom.udacity.com/nanodegrees/nd0011-ent/parts/d7df5719-29e6-423f-94b1-f974518fb358/modules/f02a1ec4-bc41-4275-b259-7ce1e829bf5e/lessons/43f97600-ed06-4c78-8eac-92ce00a79b97/concepts/5675966c-1a35-4d58-8715-e279d2303167</string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/liammcintosh/Library/Application Support/Google/Chrome/-/Web Applications/_crx_hjcopdjohhhhdgpilofncdjeoidkhefm</string>
	<key>CrBundleIdentifier</key>
	<string>com.google.Chrome</string>
	<key>CrBundleVersion</key>
	<string>89.0.4389.114</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>11.0</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
